<form action="/recipes/<%= @recipe.id() %>" method="post" class="form-group">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= @recipe.name() %>">
  <br>
  <label for="ingredients">Ingredients</label>
  <input type="text" name="ingredients" value="<%= @recipe.ingredients() %>">
  <br>
  <label for="instructions">Instructions</label>
  <input type="text" name="instructions" value="<%= @recipe.instructions() %>">
  <br>
  <label name="rating">Rating</label>
  <select name="rating">
    <option value=0> 0 </option>
    <option value=1> 1 </option>
    <option value=2> 2 </option>
    <option value=3> 3 </option>
    <option value=4> 4 </option>
    <option value=5> 5 </option>
  </select>
  <br>
  <button action="submit" class="btn">Make Changes</button>
</form>
